/* https://coolors.co/331832-d81e5b-f0544f-c6d8d3-fdf0d5 */

/* html{
  filter:invert();
} */

*, body {
  box-sizing: border-box;
  margin: 0;
}

body {
  padding-top: 1rem;
  background-color: #fef6e4;
}

.section-padding {
  padding-left: 12rem;
  padding-right: 12rem;
}

.logo {
  height: 80px;
}

.nav-action {
  background-color: #f582ae;
  color: white;
  border-radius: 10rem;
}

header {
  padding-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header ul {
  padding: 0;
  margin: 0;
}

header li {
  display: inline-block;
  padding: 0px 0.5em;
}

header li a {
  transition: all 0.3s ease 0s;
  text-decoration: none;
  color: #001858;
}

header li a:hover {
  color: #f582ae;
}

header .contact-a {
  background: linear-gradient(to left, #f582ae 50%, white 50%) right;
  background-size: 200%;
  transition: .5s ease-out;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  pointer-events: inherit;
  margin: 0.5em;
}

header .contact-a:hover {
  background-position: left;
}

header .contact-li {
  padding: 0;
  background: linear-gradient(to left, transparent 50%, #f582ae 50%) right;
  background-size: 200%;
  transition: .5s ease-out;
  line-height: unset;
}

header .contact-li:hover {
  background-position: left;
}

.hero-section {
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding-bottom: 3rem;
}

.hero-page {
  color: #001858;
  display: flex;
  flex: 1;
}

.hero-text-section {
  flex: 2;
  margin: auto;
}

.hero-text {
  font-size: 4rem;
  margin: auto;
  font-weight: bold;
  line-height: 5.5rem;
}

.hero-image-section {
  flex: 1;
  margin: auto;
}

.hero-image {
  max-width: 100%;
  margin: auto;
}

.muted-text {
  text-transform: uppercase;
  margin: 0;
  letter-spacing: 1.4px;
  color: #001758be;
  line-height: 0.5px;
  font-weight: 500;
}

.highlight {
  background-color: #f582ae;
  color: white;
}

.highlight-blue {
  background-color: #001758;
  color: white;
}

.classic-btn {
  margin-top: 1rem;
  background-color: #f582ae;
  color: white;
  padding: 1rem;
  font-size: 1.2rem;
  ;
}

.arrow {
  font-size: 2rem;
  text-align: center;
  margin: 8% 0;
  color: #001858;
  background-color: transparent;
  margin: auto;
}

.fa {
  background-color: transparent;
}

.bounce {
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
  background-color: transparent;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

.about-section {
  display: flex;
  flex-direction: column;
  background-color: #f3d2c1;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.section-page {
  display: flex;
  flex: 1;
}

.text-section {
  color: #001858;
  flex: 1;
  margin: auto;
}

.section-title {
  color: #001858;
  font-weight: bold;
}

.image-section {
  padding-left: 5rem;
  flex: 1;
  margin: auto;
}

.about-image {
  max-width: 100%;
  width: 25rem;
  border-radius: 25rem;
}

.about-text {
  font-size: 1.4rem;
  margin: 0;
}

.whyimdifferent-section {
  display: flex;
  flex-direction: column;
  background-color: ##fffff4;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.process-section {
  display: flex;
  flex-direction: column;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.process-card {
  background-color: #001858;
  color: #fef6e4;
  border-radius: 0.8rem;
  padding: 1rem;
  margin-top: 1.2rem;
  transition: all 0.4s ease;
}

.process-card:hover {
  transform: scale(1.02);
  box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.3);
}

.month-label {
  color: #fffffe;
  font-weight: bold;
  text-transform: lowercase;
  font-size: 1.5rem;
  margin-bottom: 0rem;
}

.process-text {
  margin: 0;
}

.process-cards {
  display: flex;
  flex-direction: column;
}

.services-section {
  display: flex;
  flex-direction: column;
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #fffff4;
}

.service-cards {
  display: flex;
  flex-wrap: wrap;
}

.service-card {
  border-radius: 0.8rem;
  flex: 1;
  margin: 1rem;
  background-color: #f3d2c1;
  border-color: transparent;
  transition: all 0.4s ease;
  color: #001858;
}

.service-card:hover {
  transform: scale(1.02);
  box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.3);
}

.service-cards .service-card:last-child {
  margin-right: 0rem;
}

.service-cards .service-card:first-child {
  margin-left: 0rem;
}

.service-name {
  font-weight: bold;
  text-transform: lowercase;
  font-size: 1.5rem;
  margin: 0;
}

.service-cost {
  font-style: italic;
}

.testimonial-card {
  background-color: transparent;
  border-color: transparent;
  transition: all 0.4s ease;
}

.testimonial-card:hover {
  transform: scale(1.02);
}

.testimonial-image {
  max-width: 100%;
  width: 10rem;
  border-radius: 25rem;
  margin: auto;
  padding: 0rem;
}

.testimonial-card .card-body {
  display: flex;
  padding: 0rem;
}

.testimonial-info {
  flex: 1;
  margin: auto;
  color: #001858;
}

.testimonial-section .testimonial-info:last-child {
  margin-left: 1rem;
}

.testimonial-section {
  display: flex;
  flex-direction: column;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.testimonial-section p {
  margin: 0;
}

.testimonial-name {
  font-weight: bold;
  text-transform: lowercase;
  font-size: 1.2rem;
}

.testimonial-school {
  font-weight: 400;
  font-size: 1.05rem;
  font-style: italic;
}

.left {
  text-align: right;
}

.testimonial-text {
  text-align: center;
}

.testimonial-section img:last-child {
  margin-left: 1rem;
}

.testimonial-card:not(.testimonial-card:first-child) {
  margin-top: 3.5rem;
}

.contact-section {
  display: flex;
  flex-direction: column;
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #f3d2c1;
}

.contact-section a {
  text-decoration: none;
  color: #001858;
  font-size: 1.4rem;
  margin: 0;
  font-style: italic;
  transition: all 0.4s ease;
}

.contact-section a:hover {
  background-color: #fef6e4;
  color: #f582ae;
}

.contact-text {
  color: #001858;
  font-size: 1.4rem;
  margin: 0;
}
