.e3_2 {
	overflow: hidden;
}

.e3_2 {
	background-color: rgba(254.00000005960464, 246.0000005364418, 228.0000016093254, 1);
	width: 1435px;
	height: 4519px;
	position: absolute;
}

.e11_6 {
	width: 1435px;
	height: 874px;
	position: absolute;
	left: 0px;
	top: 0px;
}

.e11_7 {
	background-color: rgba(245.00000059604645, 130.0000074505806, 174.00000482797623, 1);
	width: 297px;
	height: 56px;
	position: absolute;
	left: 150px;
	top: 615px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

.e11_8 {
	color: rgba(254.00000005960464, 246.0000005364418, 228.0000016093254, 1);
	width: 136px;
	height: 34px;
	position: absolute;
	left: 80.5px;
	top: 11px;
	font-family: Red Hat Display;
	text-align: left;
	font-size: 26px;
	letter-spacing: 0;
}

.e11_9 {
	color: rgba(0, 24.000000469386578, 88.00000235438347, 1);
	width: 700px;
	height: 324px;
	position: absolute;
	left: 149px;
	top: 319px;
	font-family: Red Hat Display;
	text-align: left;
	font-size: 60px;
	letter-spacing: 0;
}

.e11_10 {
	color: rgba(0, 23.999998569488525, 88.00000235438347, 0.7200000286102295);
	width: 580px;
	height: 37px;
	position: absolute;
	left: 149px;
	top: 289px;
	font-family: Red Hat Display;
	text-align: left;
	font-size: 20px;
	letter-spacing: 11;
}

.e11_11 {
	width: 1185px;
	height: 164px;
	position: absolute;
	left: 150px;
	top: 36px;
}

.ei11_11_6_79 {
	width: 501px;
	height: 62px;
	position: absolute;
	left: 634px;
	top: 51px;
}

.ei11_11_6_41 {
	width: 74px;
	height: 42px;
	position: absolute;
	left: 0px;
	top: 10px;
}

.ei11_11_6_41_5_5 {
	color: rgba(0, 24.000000469386578, 88.00000235438347, 1);
	width: 65px;
	height: 32px;
	position: absolute;
	left: 0px;
	top: 0px;
	font-family: Red Hat Display;
	text-align: left;
	font-size: 24px;
	letter-spacing: 0;
}

.ei11_11_6_77 {
	width: 89px;
	height: 42px;
	position: absolute;
	left: 112px;
	top: 10px;
}

.ei11_11_6_77_5_5 {
	color: rgba(0, 24.000000469386578, 88.00000235438347, 1);
	width: 86px;
	height: 32px;
	position: absolute;
	left: 0px;
	top: 0px;
	font-family: Red Hat Display;
	text-align: left;
	font-size: 24px;
	letter-spacing: 0;
}

.ei11_11_6_75 {
	width: 94px;
	height: 42px;
	position: absolute;
	left: 239px;
	top: 10px;
}

.ei11_11_6_75_5_5 {
	color: rgba(0, 24.000000469386578, 88.00000235438347, 1);
	width: 90px;
	height: 32px;
	position: absolute;
	left: 0px;
	top: 0px;
	font-family: Red Hat Display;
	text-align: left;
	font-size: 24px;
	letter-spacing: 0;
}

.ei11_11_6_55 {
	width: 130px;
	height: 42px;
	position: absolute;
	left: 371px;
	top: 10px;
}

.ei11_11_6_55_5_5 {
	color: rgba(245.00000059604645, 130.0000074505806, 174.00000482797623, 1);
	width: 132px;
	height: 32px;
	position: absolute;
	left: 0px;
	top: 0px;
	font-family: Red Hat Display;
	text-align: left;
	font-size: 24px;
	letter-spacing: 0;
}

.ei11_11_6_39 {
	width: 183.2985076904297px;
	height: 164px;
	position: absolute;
	left: 0px;
	top: 0px;
	background-image: url(images/rectangle_1.png);
	background-repeat: no-repeat;
	background-size: cover;
}

.e11_12 {
	width: 409px;
	height: 409px;
	position: absolute;
	left: 878px;
	top: 255px;
	background-image: url(images/image_1.png);
	background-repeat: no-repeat;
	background-size: cover;
}

.e6_64 {
	width: 1435px;
	height: 728px;
	position: absolute;
	left: 0px;
	top: 874px;
}

.e6_62 {
	background-color: rgba(243.00000071525574, 210.00000268220901, 193.00000369548798, 1);
	width: 1435px;
	height: 725px;
	position: absolute;
	left: 0px;
	top: 3px;
}

.e6_44 {
	color: rgba(0, 24.000000469386578, 88.00000235438347, 1);
	width: 351px;
	height: 88px;
	position: absolute;
	left: 165px;
	top: 84px;
	font-family: Red Hat Display;
	text-align: left;
	font-size: 50px;
	letter-spacing: 0;
}

.e6_69 {
	color: rgba(0, 24.000000469386578, 88.00000235438347, 1);
	width: 619px;
	height: 560px;
	position: absolute;
	left: 165px;
	top: 203px;
	font-family: Red Hat Display;
	text-align: left;
	font-size: 28px;
	letter-spacing: 0;
}

.e6_72 {
	width: 361px;
	height: 361px;
	position: absolute;
	left: 912px;
	top: 198px;
}

.e6_71 {
	overflow: hidden;
}

.e6_71 {
	border-radius: 500px;
	background-color: rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
	width: 361px;
	height: 361px;
	position: absolute;
	left: 0px;
	top: 0px;
}

.e6_66 {
	width: 424.2680358886719px;
	height: 448.458740234375px;
	position: absolute;
	left: -1.2879434823989868px;
	top: -11.357303619384766px;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
	background-image: url(images/rectangle_3.png);
	background-repeat: no-repeat;
	background-size: cover;
}

.e11_55 {
	width: 1435px;
	height: 848px;
	position: absolute;
	left: 0px;
	top: 3261px;
}

.e11_56 {
	background-color: rgba(243.00000071525574, 210.00000268220901, 193.00000369548798, 1);
	width: 1435px;
	height: 845px;
	position: absolute;
	left: 0px;
	top: 3px;
}

.e11_57 {
	color: rgba(0, 24.000000469386578, 88.00000235438347, 1);
	width: 351px;
	height: 88px;
	position: absolute;
	left: 165px;
	top: 84px;
	font-family: Red Hat Display;
	text-align: left;
	font-size: 50px;
	letter-spacing: 0;
}

.e11_58 {
	color: rgba(0, 24.000000469386578, 88.00000235438347, 1);
	width: 1127px;
	height: 560px;
	position: absolute;
	left: 165px;
	top: 203px;
	font-family: Red Hat Display;
	text-align: left;
	font-size: 28px;
	letter-spacing: 0;
}

.e11_23 {
	width: 1435px;
	height: 367px;
	position: absolute;
	left: 0px;
	top: 4152px;
}

.e11_36 {
	color: rgba(0, 24.000000469386578, 88.00000235438347, 1);
	width: 351px;
	height: 88px;
	position: absolute;
	left: 169px;
	top: 50px;
	font-family: Red Hat Display;
	text-align: left;
	font-size: 50px;
	letter-spacing: 0;
}

.e11_80 {
	color: rgba(0, 0, 0, 1);
	width: 803px;
	height: 65px;
	position: absolute;
	left: 169px;
	top: 151px;
	font-family: Red Hat Display;
	text-align: left;
	font-size: 30px;
	letter-spacing: 0;
}

.e11_62 {
	width: 1435px;
	height: 1616px;
	position: absolute;
	left: 0px;
	top: 1602px;
}

.e11_63 {
	color: rgba(0, 24.000000469386578, 88.00000235438347, 1);
	width: 351px;
	height: 88px;
	position: absolute;
	left: 165px;
	top: 76px;
	font-family: Red Hat Display;
	text-align: left;
	font-size: 50px;
	letter-spacing: 0;
}

.e11_64 {
	width: 1228.4425048828125px;
	height: 1404px;
	position: absolute;
	left: 119px;
	top: 168px;
}

.e11_65 {
	background-color: rgba(0, 24.000000469386578, 88.00000235438347, 1);
	width: 1130.4425048828125px;
	height: 230px;
	position: absolute;
	left: 49px;
	top: 37px;
	border-top-left-radius: 39px;
	border-top-right-radius: 39px;
	border-bottom-left-radius: 39px;
	border-bottom-right-radius: 39px;
}

.ei11_65_11_38 {
	color: rgba(255, 255, 255, 1);
	width: 1030.4425048828125px;
	height: 40px;
	position: absolute;
	left: 50px;
	top: 35px;
	font-family: Red Hat Display;
	text-align: left;
	font-size: 30px;
	letter-spacing: 0;
}

.ei11_65_11_39 {
	color: rgba(255, 255, 255, 1);
	width: 1030.4425048828125px;
	height: 120px;
	position: absolute;
	left: 50px;
	top: 75px;
	font-family: Red Hat Display;
	text-align: left;
	font-size: 30px;
	letter-spacing: 0;
}

.e11_66 {
	background-color: rgba(0, 24.000000469386578, 88.00000235438347, 1);
	width: 1130.4425048828125px;
	height: 230px;
	position: absolute;
	left: 49px;
	top: 312px;
	border-top-left-radius: 39px;
	border-top-right-radius: 39px;
	border-bottom-left-radius: 39px;
	border-bottom-right-radius: 39px;
}

.ei11_66_11_38 {
	color: rgba(255, 255, 255, 1);
	width: 1030.4425048828125px;
	height: 40px;
	position: absolute;
	left: 50px;
	top: 35px;
	font-family: Red Hat Display;
	text-align: left;
	font-size: 30px;
	letter-spacing: 0;
}

.ei11_66_11_39 {
	color: rgba(255, 255, 255, 1);
	width: 1030.4425048828125px;
	height: 120px;
	position: absolute;
	left: 50px;
	top: 75px;
	font-family: Red Hat Display;
	text-align: left;
	font-size: 30px;
	letter-spacing: 0;
}

.e11_67 {
	background-color: rgba(0, 24.000000469386578, 88.00000235438347, 1);
	width: 1130.4425048828125px;
	height: 230px;
	position: absolute;
	left: 49px;
	top: 587px;
	border-top-left-radius: 39px;
	border-top-right-radius: 39px;
	border-bottom-left-radius: 39px;
	border-bottom-right-radius: 39px;
}

.ei11_67_11_38 {
	color: rgba(255, 255, 255, 1);
	width: 1030.4425048828125px;
	height: 40px;
	position: absolute;
	left: 50px;
	top: 35px;
	font-family: Red Hat Display;
	text-align: left;
	font-size: 30px;
	letter-spacing: 0;
}

.ei11_67_11_39 {
	color: rgba(255, 255, 255, 1);
	width: 1030.4425048828125px;
	height: 120px;
	position: absolute;
	left: 50px;
	top: 75px;
	font-family: Red Hat Display;
	text-align: left;
	font-size: 30px;
	letter-spacing: 0;
}

.e11_68 {
	background-color: rgba(0, 24.000000469386578, 88.00000235438347, 1);
	width: 1130.4425048828125px;
	height: 230px;
	position: absolute;
	left: 49px;
	top: 862px;
	border-top-left-radius: 39px;
	border-top-right-radius: 39px;
	border-bottom-left-radius: 39px;
	border-bottom-right-radius: 39px;
}

.ei11_68_11_38 {
	color: rgba(255, 255, 255, 1);
	width: 1030.4425048828125px;
	height: 40px;
	position: absolute;
	left: 50px;
	top: 35px;
	font-family: Red Hat Display;
	text-align: left;
	font-size: 30px;
	letter-spacing: 0;
}

.ei11_68_11_39 {
	color: rgba(255, 255, 255, 1);
	width: 1030.4425048828125px;
	height: 120px;
	position: absolute;
	left: 50px;
	top: 75px;
	font-family: Red Hat Display;
	text-align: left;
	font-size: 30px;
	letter-spacing: 0;
}

.e11_69 {
	background-color: rgba(0, 24.000000469386578, 88.00000235438347, 1);
	width: 1130.4425048828125px;
	height: 230px;
	position: absolute;
	left: 49px;
	top: 1137px;
	border-top-left-radius: 39px;
	border-top-right-radius: 39px;
	border-bottom-left-radius: 39px;
	border-bottom-right-radius: 39px;
}

.ei11_69_11_38 {
	color: rgba(255, 255, 255, 1);
	width: 1030.4425048828125px;
	height: 40px;
	position: absolute;
	left: 50px;
	top: 35px;
	font-family: Red Hat Display;
	text-align: left;
	font-size: 30px;
	letter-spacing: 0;
}

.ei11_69_11_39 {
	color: rgba(255, 255, 255, 1);
	width: 1030.4425048828125px;
	height: 120px;
	position: absolute;
	left: 50px;
	top: 75px;
	font-family: Red Hat Display;
	text-align: left;
	font-size: 30px;
	letter-spacing: 0;
}